<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= "✔" if task.completed %> <%= link_to "#{task.title}", task_path(task) %></li>
  <% end %>
</ul>
<br>
<h3><%= link_to "Create new task", new_path %></h3>